html {
    max-width: 1700px;
    margin-right: auto;
    margin-left: auto;
}

/*ゲーム画面*/
.background {
    margin-bottom: 1rem;
    background: no-repeat url(../img/ringu.jpg) center center;
    background-size: cover;
    padding: 30px;
    border: solid #919191 10px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px #00000098;
}
.play-header {
    display: flex;
    justify-content: space-around;
    height: 9rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;
    height: 144px;
}
.goal {
    text-align: center;
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: #fff000;
    margin-top: -4rem;
    margin-inline: 5px;
    width: 300px;
}
.goal p {
    padding: 20px;
    border: solid #919191 10px;
    background-color: #000000;
    border-radius: 30px;
    box-shadow: 0px 10px 10px #00000098;
}
.time {
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
}
.p1-area, .p2-area  {
    width: 40%;
    min-width: 100px;
}
.p1-area {
    text-align: left;
    background-color: #cfcfcfe0;
    border-right: solid #ff23235e 10px;
    border-bottom: solid #ff23235e 7px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    padding-inline: 2rem;
    box-shadow: 0px 10px 10px #00000098;
}
.p2-area {
    text-align: right;
    background-color: #cfcfcfe0;
    border-left: solid #0000ff5e 10px;
    border-bottom: solid #0000ff5e 7px;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 70px;
    padding-inline: 2rem;
    box-shadow: 0px 10px 10px #00000098;
}
.HPbar {
    background: #868686;
    height: 30px;
    border: solid #000 3px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.HPbar div {
    height: 100%;
    border-radius: 8px;
    transition: 0.3s;
}
.p1-area .HPbar div{
    background-color: #ff1515;
    box-shadow: inset 0px -5px 5px #0000006b;
    width: 100%;
}
.p2-area .HPbar div{
    background-color: #4848ff;
    box-shadow: inset 0px -5px 5px #0000006b;
    width: 100%;
}
.play-area {
    margin-right: auto;
    margin-left: auto;
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.player-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 500px;
}
.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}
.stopwatch div {
    text-align: center;
    background-color: #000000;
    color: #fff000;
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 120px;
    width: 350px;
    padding-block: 30px;
    border: solid #919191 10px;
    border-radius: 30px;
    box-shadow: 0px 2px 15px #00000098;
}
.stopwatch span {
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-weight: 450;
    font-size: 20px;
    background-color: #ffffffbd;
    border-radius: 10px;
    padding-inline: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 15px #00000098;
}
.stopwatch section {
    display: flex;
    gap: 70px;
}
.stopwatch button {
    margin-top: 1rem;
    box-shadow: 0px 2px 15px #00000098;
    width: 100px;
    height: 100px;
    border-radius: 200px;
    border: none;
    color: #000000;
    background-color: #ffffffbd;
    font-size: 30px
}
#stopbtn:hover {
    background-color: #000000bd;
    color: #fff;
}
#startbtn:hover {
    background-color: #000000a2;
    color: #ff1515;
}
.character {
    min-width: 200px;
    min-height: 400px;
    max-width: 400px;
    max-height: 800px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}
.player_time {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-family: "WDXL Lubrifont JP N", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 70px;
    width: 200px;
    padding-block: 56px;
    border: solid #ffffff 10px;
    border-radius: 100%;
    box-shadow: 0px 2px 15px #00000098;
    margin-top: -150px;
}
.cooldown {
    text-align: center;
    padding-top: 19px;
    margin-top: -230px;
    width: 150px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #fff;
}
.p1skill, .p2skill {
    margin-top: -70px;
    width: 150px;
    height: 60px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:  none;
    background-color: #fff;
}
.commentarea {
    margin-top: 10px;
    font-size: 32px;
    text-align: center;
    color: #fff;
    border: solid #919191 10px;
    background-color: #000000;
    border-radius: 50px;
    box-shadow: 0px 10px 10px #00000098;
    height: 230px;
}
.hidden-timer {
    color: transparent !important; /* 文字色を透明にする */
    transition: color 0.5s;        /* ふわっと消える効果 */
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 32px;
    margin: 10px;
}

.btn:hover {
    opacity: 0.7;
    color: white;
}
